<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="zh-CN">
<head th:replace="template :: head"></head>
 <body> 
  <!--content begin--> 
  <div class="preloader"> 
   <div class="cssload-speeding-wheel"></div> 
  </div> 
  <div id="wrapper"> 
   <nav class="navbar navbar-default navbar-static-top m-b-0" th:replace="template :: main-header">
   </nav>   
   <div class="navbar-default sidebar" role="navigation" th:replace="template :: main-sidebar">
   </div> 
   <!-- Left navbar-header end --> 
   <div id="page-wrapper"> 
    <div class="container-fluid"> 
     <div class="row bg-title"> 
      <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12"> 
       <h4 class="page-title">Rest路由路由管理</h4> 
      </div> 
      <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12"> 
       <ol class="breadcrumb"> 
        <li><a th:href="@{/restRoute.html}">Rest路由管理</a></li> 
        <li class="active">Rest路由管理</li> 
       </ol> 
      </div> 
     </div> 
     <div class="row">
          <div class="white-box" th:replace="template :: alerts"/>
     </div>
     <div class="row">
        <div class="white-box">
        <div class="panel panel-info">
           <div class="panel-heading" th:text="${param.containsKey('edit')?'编辑路由规则':'添加路由规则'}"/>
           <div class="panel-wrapper collapse in" aria-expanded="true">
              <div class="panel-body">
                  <form th:action="${param.containsKey('edit')}? @{/restRoute.html/_update} : @{/restRoute.html/_create}" method="post">
		              <div class="form-body">
				                <div class="row">
				                  <div class="col-md-6">
				                    <div class="form-group">
				                      <label class="control-label">路由Id</label>
				                      <input type="text" class="form-control" id="routeId" name="routeId" placeholder="路由Id" required="required" th:value="${routeId}" th:disabled="${param['edit']}" />
                                      <input type="hidden" name="routeId" th:value="${routeId}" th:if="${param.containsKey('edit')}" />
				                     </div>
				                  </div>
				                  <div class="col-md-6">
				                    <div class="form-group">
				                      <label class="control-label">路由path</label>
				                       <input type="text" class="form-control" id="routePath" name="routePath" placeholder="path" required="required" th:value="${routePath}" />
				                    </div>
				                  </div>
				                </div>
				                <div class="row">
				                  <div class="col-md-12">
				                    <div class="form-group">
				                      <label class="control-label">路由url</label>
				                      <input type="text" class="form-control" id="routeUrl" name="routeUrl" placeholder="url" required="required" th:value="${routeUrl}" />
				                     </div>
				                  </div>
				                </div>
				                <div class="row">
				                  <div class="col-md-12">
				                     <div class="form-group">
			                           <label class="control-label">是否忽略前缀stripPrefix</label>
				                       <input type="checkbox" name="stripPrefix" value="false" th:checked="${stripPrefix}" />
				                       <br/>
				                       <span>(使用了zuul.prefix配置的前提，目前暂不支持,不要打钩)</span>
			                         </div>
				                  </div>
				                </div>
				                <div class="row">
				                  <div class="col-md-12">
				                    <div class="form-group">
				                      <label class="control-label">是否重试retryAble</label>
				                      <input type="checkbox" name="retryAble" value="false" th:checked="${retryAble}" />
				                     </div>
				                  </div>
				                </div>
				                 <div class="row">
				                  <div class="col-md-12">
				                    <div class="form-group">
				                      <label class="control-label">覆盖全局Header</label>
				                      <input type="text" class="form-control" id="sensitiveHeaders" name="sensitiveHeaders" placeholder="Cookie,Set-Cookie,Authorization" th:value="${sensitiveHeaders}"/>
				                     </div>
				                  </div>
				                </div>
				               <div class="row">
				                   <div class="col-md-12">
				                      &nbsp;
					               </div>
				               </div>
		               </div>
		               <div class="form-actions">
			                <div class="row">
			                  <div class="col-md-12">
			                    <div class="row">
			                      <div class="col-md-offset-5 col-md-9">
			                        <button type="submit" class="btn btn-success">Submit</button>
			                        <a type="button" class="btn btn-default" th:href="@{/restRoute.html}">Cancel</a>
			                      </div>
			                    </div>
			                  </div>
			                </div>
                       </div>
                  </form>
              </div>
            </div>
          </div>  
        </div>
     </div> 
     <footer class="main-footer" th:replace="template :: main-footer"/>
     </div> 
    </div>
  </div> 
 <th:block th:replace="template :: required-js-scripts">
 </th:block>
 </body>
</html>