/.settings/
/saluki-core/.DS_Store
/saluki-core/.project
/saluki-core/.settings/
/saluki-plugin/.DS_Store
/saluki-plugin/.project
/saluki-plugin/.settings/
/saluki-registry/.DS_Store
/saluki-registry/.project
/saluki-registry/.settings/
/saluki-serializer/.DS_Store
/saluki-serializer/.project
/saluki-serializer/.settings/
/spring-boot-starter-saluki/.DS_Store
/spring-boot-starter-saluki/.project
/spring-boot-starter-saluki/.settings/
/.DS_Store
/.project
/saluki-core/
/saluki-plugin/
/saluki-registry/
/saluki-serializer/
/spring-boot-starter-saluki/
