/.settings/
/saluki-core/.DS_Store
/saluki-core/.project
/saluki-core/.settings/
/saluki-plugin/.DS_Store
/saluki-plugin/.project
/saluki-plugin/.settings/
/saluki-registry/.DS_Store
/saluki-registry/.project
/saluki-registry/.settings/
/saluki-serializer/.DS_Store
/saluki-serializer/.project
/saluki-serializer/.settings/
/spring-boot-starter-saluki/.DS_Store
/spring-boot-starter-saluki/.project
/spring-boot-starter-saluki/.settings/
/.DS_Store
/.project
/saluki-core/.DS_Store
/saluki-core/.project
/saluki-core/build
/saluki-core/.classpath
/saluki-core/.gradle/
/saluki-plugin/.DS_Store
/saluki-plugin/.project
/saluki-plugin/build
/saluki-plugin/.classpath
/saluki-plugin/.gradle/
/saluki-serializer/.DS_Store
/saluki-serializer/.project
/saluki-serializer/build
/saluki-serializer/.classpath
/saluki-serializer/.gradle/
/saluki-example/.DS_Store
/saluki-example/.project
/saluki-example/build
/saluki-example/.classpath
/saluki-example/.gradle/
/saluki-example/bin/
/spring-boot-starter-saluki/.DS_Store
/spring-boot-starter-saluki/.project
/spring-boot-starter-saluki/build
/spring-boot-starter-saluki/.classpath
/spring-boot-starter-saluki/.gradle/
/.gradle/
/build/*
