<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:include="template/dashboard :: head('授权范围管理页面')">
    <!-- This block will be replaced by template. -->
</head>
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">

    <!-- Main Header -->
    <header class="main-header" th:replace="template/dashboard :: main-header">
        <!-- This block will be replaced by template. -->
    </header>
    <!-- Left side column. contains the logo and sidebar -->
    <aside class="main-sidebar" th:replace="template/dashboard :: main-sidebar">
        <!-- This block will be replaced by template. -->
    </aside>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                <h1>授权范围管理</h1>
                <p>在这里管理授权范围（屁话）</p>
            </h1>
            <ol class="breadcrumb">
                <li><a href="#" th:href="@{/}"><i class="fa fa-dashboard"></i> Dashboard</a></li>
                <li>OAuth2 管理</li>
                <li class="active">授权范围管理</li>
            </ol>
        </section>

        <!-- Main content -->
        <section class="content">

            <!-- Your Page Content Here -->
            <div class="row">
                <div class="col-md-12" th:include="template/messages :: messages">
                    <!-- This block will be replaced by template. -->
                </div>
            </div>

            <div class="row">
                <div class="col-md-8">
                    <div class="box">
                        <div class="box-header">
                            <h3 class="box-title">授权范围列表</h3>
                            <div class="box-tools">
                                <th:block th:include="template/bootstrap :: page-navigation (pageable=${scopes})"></th:block>
                            </div>
                        </div>
                        <div class="box-body table-responsive no-padding">
                            <table class="table table-hover">
                                <tr>
                                    <th>#</th>
                                    <th>授权范围</th>
                                    <th>操作</th>
                                </tr>
                                <tr th:each="scope, iterStat : ${scopes}">
                                    <td th:text="${scope.id}">#</td>
                                    <td th:text="${scope.value}">授权范围</td>
                                    <td><a sec:authorize="hasRole('ROLE_ADMIN')" class="btn btn-danger" th:attr="data-remove-confirm=|确认要删除授权范围 ${scope.value} 吗？|"
                                           href="#" th:href="@{|/scopes/_remove/${scope.value}|}" role="button">删除</a></td>
                                </tr>
                            </table>
                        </div>
                        <div class="box-footer clearfix">
                            <th:block th:include="template/bootstrap :: page-navigation (pageable=${scopes})"></th:block>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="box">
                        <div class="box-header with-border">
                            <h3 class="box-title">增加授权范围</h3>
                        </div>
                        <form action="#" th:action="@{''}" method="post">
                            <div class="box-body">
                                <div class="form-group">
                                    <label for="scopeValue">授权范围</label>
                                    <input type="text" class="form-control" id="scopeValue" name="scopeValue" placeholder="授权范围" required="required" value="" th:value="${scopeValue}" />
                                </div>
                            </div>
                            <div class="box-footer">
                                <button type="submit" class="btn btn-primary">提交</button>
                                <a type="button" class="btn btn-default" href="#" th:href="@{/scopes}">取消</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->

    <!-- Main Footer -->
    <footer class="main-footer" th:replace="template/dashboard :: main-footer">
        <!-- This block will be replaced by template. -->
    </footer>

    <th:block th:replace="template/dashboard :: control-sidebar">
        <!-- This block will be replaced by template. --></th:block>
</div>
<!-- ./wrapper -->

<th:block th:replace="template/dashboard :: required-js-scripts">
    <!-- This block will be replaced by template. -->
</th:block>
<script type="text/javascript">
    $(function() {
       activeMenus('授权范围管理')
    });
</script>
</body>
</html>
