<?xml version="1.0" encoding="GBK" ?>  
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
	<appender name="console" class="org.apache.log4j.ConsoleAppender">
		<param name="Threshold" value="info"></param>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="[%d{yyyy-MM-dd HH:mm:ss\} %-5p] [%t] {%c:%L}-%m%n"></param>
		</layout>
	</appender>

	<appender name="dailyRollingFile" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="Threshold" value="info"></param>
		<param name="ImmediateFlush" value="true"></param>
		<param name="File" value="${user.home}/logs/dailyRollingFile.log"></param>
		<param name="DatePattern" value="'.'yyyy-MM-dd'.log'"></param>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="[%d{yyyy-MM-dd HH:mm:ss\} %-5p] [%t] {%c:%L}-%m%n"></param>
		</layout>
	</appender>

	<appender name="railyFile" class="org.apache.log4j.RollingFileAppender">
		<param name="File" value="${user.home}/logs/railyFile.log"></param>
		<param name="ImmediateFlush" value="true" />
		<param name="Threshold" value="info"></param>
		<param name="Append" value="true"></param>
		<param name="MaxFileSize" value="30KB"></param>
		<param name="MaxBackupIndex" value="100"></param>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="[%d{yyyy-MM-dd HH:mm:ss\} %-5p] [%t] {%c:%L}-%m%n"></param>
		</layout>
	</appender>

	<appender name="file" class="org.apache.log4j.FileAppender">
		<param name="File" value="${user.home}/logs/file.log"></param>
		<param name="Threshold" value="info"></param>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="[%d{yyyy-MM-dd HH:mm:ss\} %-5p] [%t] {%c:%L}-%m%n"></param>
		</layout>
	</appender>


	<root>
		<priority value="debug" />
		<appender-ref ref="console" />
		<appender-ref ref="dailyRollingFile" />
		<appender-ref ref="railyFile" />
		<appender-ref ref="file" />
	</root>

</log4j:configuration> 