<div class="row wrapper border-bottom white-bg page-heading" xmlns="http://www.w3.org/1999/html">
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox">
                <div class="ibox-title">
                    <h3><span class="text-navy">文件上传</span></h3>
                </div>
                <div class="ibox-content">
                    <table class="table table-stripped toggle-arrow-tiny footable" data-page-size="5"> 
				         <thead> 
				          <tr> 
				           <th data-hide="all">文件名</th> 
				           <th data-hide="all">文件路径</th> 
				          </tr> 
				         </thead> 
				         <tbody>
				         #foreach($file in $files) 
				          <tr> 
				            <td>$file.name</td>
				            <td>$file.absolutePath</td>
				          </tr> 
				         #end 
				         </tbody> 
                    </table> 
                   <form enctype="multipart/form-data" action="/upload" method="post">
				        <input name="uploadingFiles" class="file" type="file" multiple data-min-file-count="1">
                   </form>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<script>
 
</script>