<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="zh-CN">
<head th:replace="template :: head"></head>
 <body> 
  <!--content begin--> 
  <div class="preloader"> 
   <div class="cssload-speeding-wheel"></div> 
  </div> 
  <div id="wrapper"> 
   <nav class="navbar navbar-default navbar-static-top m-b-0" th:replace="template :: main-header">
   </nav>   
   <div class="navbar-default sidebar" role="navigation" th:replace="template :: main-sidebar">
   </div> 
   <!-- Left navbar-header end --> 
   <div id="page-wrapper"> 
    <div class="container-fluid"> 
     <div class="row bg-title"> 
      <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12"> 
       <h4 class="page-title">客户端管理</h4> 
      </div> 
      <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12"> 
       <ol class="breadcrumb"> 
        <li><a th:href="@{/clientDetails.html}">OAuth2管理</a></li> 
        <li class="active">客户端管理</li> 
       </ol> 
      </div> 
     </div> 
     <div class="row">
          <div class="white-box" th:replace="template :: alerts"/>
     </div>
     <div class="row">
        <div class="white-box">
        <div class="panel panel-info">
           <div class="panel-heading" th:text="${param.containsKey('edit')?'编辑客户端':'增加客户端'}"/>
           <div class="panel-wrapper collapse in" aria-expanded="true">
              <div class="panel-body">
                  <form th:action="${param.containsKey('edit')}? @{/clientDetails.html/_update} : @{/clientDetails.html/_create}" method="post">
		              <div class="form-body">
				                <div class="row">
				                  <div class="col-md-6">
				                    <div class="form-group">
				                      <label class="control-label">客户端Id</label>
				                      <input type="text" class="form-control" id="clientId" name="clientId" placeholder="客户端ID" required="required" th:value="${clientId}" th:disabled="${param['edit']}" />
                                      <input type="hidden" name="clientId" th:value="${clientId}" th:if="${param.containsKey('edit')}" />
				                     </div>
				                  </div>
				                  <div class="col-md-6">
				                    <div class="form-group">
				                      <label class="control-label">客户端Secret</label>
				                       <input type="text" class="form-control" id="clientSecret" name="clientSecret" placeholder="客户端密码" required="required" th:required="not ${param['edit']}" />
				                    </div>
				                  </div>
				                </div>
				                <div class="row">
				                  <div class="col-md-6">
				                    <div class="form-group">
				                      <label class="control-label">AccessToken有效秒数</label>
				                      <input type="number" class="form-control" id="accessTokenValiditySeconds" name="accessTokenValiditySeconds" placeholder="AccessToken有效秒数" required="required" th:value="${accessTokenValiditySeconds}" />
				                     </div>
				                  </div>
				                  <div class="col-md-6">
				                    <div class="form-group">
				                      <label class="control-label">RefreshToken有效秒数</label>
				                       <input type="number" class="form-control" id="refreshTokenValiditySeconds" name="refreshTokenValiditySeconds" placeholder="RefreshToken有效秒数" required="required" th:value="${refreshTokenValiditySeconds}" />
				                    </div>
				                  </div>
				                </div>
				                <div class="row">
				                  <div class="col-md-6">
				                    <div class="form-group">
				                      <label class="control-label">限流间隔时间</label>
				                      <input type="number" class="form-control" id="intervalInMills" name="intervalInMills" placeholder="限流间隔时间" th:value="${intervalInMills}" />
				                     </div>
				                  </div>
				                  <div class="col-md-6">
				                    <div class="form-group">
				                      <label class="control-label">限流间隔次数</label>
				                       <input type="number" class="form-control" id="limits" name="limits" placeholder="限流间隔次数" th:value="${limits}" />
				                    </div>
				                  </div>
				                </div>
				                <div class="row">
				                  <div class="col-md-12">
				                    <div class="form-group">
				                       <label class="control-label">授权方式</label>
				                       <select class="selectpicker" name="grantTypes" multiple="multiple" data-style="form-control">
							                <option th:each="grantType : ${grantTypes}" th:value="${grantType.value}" th:selected="${#lists.contains(#objects.nullSafe(selectedGrantTypes, {}), grantType.value)}" th:text="${grantType.value}">授权方式</option>
                					   </select>
				                    </div>
				                  </div>
				                </div>
				                <div class="row">
				                  <div class="col-md-6">
				                    <div class="form-group">
				                      <label class="control-label">授权范围</label>
				                      <select class="selectpicker" name="scopes" multiple="multiple" data-style="form-control">
							                  <option th:each="scope : ${scopes}" th:value="${scope.value}" th:selected="${#lists.contains(#objects.nullSafe(selectedScopes, {}), scope.value)}" th:text="${scope.value}">授权范围</option>
                					   </select>
				                    </div>
				                  </div>
				                  <div class="col-md-6">
				                    <div class="form-group">
				                      <label class="control-label">自动授权范围</label>
				                      <select class="selectpicker" name="autoApproveScopes" multiple="multiple" data-style="form-control">
							                 <option th:each="scope : ${scopes}" th:value="${scope.value}" th:selected="${#lists.contains(#objects.nullSafe(selectedAutoApproveScopes, {}), scope.value)}" th:text="${scope.value}">授权范围</option>
                					  </select>
				                    </div>
				                  </div>
				                </div>
				                <div class="row">
				                  <div class="col-md-12">
				                      <div class="form-group">
			                          <label class="control-label">全范围自动授权</label>
				                      <input type="checkbox" name="autoApproveAll" value="true" th:checked="${autoApproveAll}" />
			                          </div>
				                   </div>
				                 </div>
				                 <div class="row">
				                   <div class="col-md-12">
				                     <div class="form-group">
					                 <label class="col-md-12">可用资源Id</label>
					                 <select class="selectpicker" name="resourceIds" multiple="multiple" data-style="form-control">
							                 <option th:each="resourceId : ${resourceIds}" th:value="${resourceId.value}" th:selected="${#lists.contains(#objects.nullSafe(selectedResourceIds, {}), resourceId.value)}" th:text="${resourceId.value}">可用资源ID</option>
                					 </select>
					               </div>
				                  </div>
				                 </div>
				                 <div class="row">
				                   <div class="col-md-12">
				                     <div class="form-group">
					                 <label class="col-md-12">注册跳转URL</label>
					                 <div class="col-md-12">
					                  <textarea class="form-control" rows="3" name="redirectUris" th:text="${redirectUris}"></textarea>
					                  <span class="help-block">一行一个URI</span>
					                 </div>
					               </div>
				                  </div>
				               </div>
				               <div class="row">
				                   <div class="col-md-12">
				                      &nbsp;
					               </div>
				               </div>
		               </div>
		               <div class="form-actions">
			                <div class="row">
			                  <div class="col-md-12">
			                    <div class="row">
			                      <div class="col-md-offset-5 col-md-9">
			                        <button type="submit" class="btn btn-success">Submit</button>
			                        <a type="button" class="btn btn-default" th:href="@{/clientDetails.html}">Cancel</a>
			                      </div>
			                    </div>
			                  </div>
			                </div>
                       </div>
                  </form>
              </div>
            </div>
          </div>  
        </div>
     </div> 
     <footer class="main-footer" th:replace="template :: main-footer"/>
     </div> 
    </div>
  </div> 
 <th:block th:replace="template :: required-js-scripts">
 </th:block>
 </body>
</html>