<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="zh-CN">
<head th:replace="template :: head"></head>
 <body> 
  <!--content begin--> 
  <div class="preloader"> 
   <div class="cssload-speeding-wheel"></div> 
  </div> 
  <div id="wrapper"> 
   <nav class="navbar navbar-default navbar-static-top m-b-0" th:replace="template :: main-header">
   </nav>   
   <div class="navbar-default sidebar" role="navigation" th:replace="template :: main-sidebar">
   </div> 
   <!-- Left navbar-header end --> 
   <div id="page-wrapper"> 
    <div class="container-fluid"> 
     <div class="row bg-title"> 
      <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12"> 
       <h4 class="page-title">客户端管理</h4> 
      </div> 
      <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12"> 
       <ol class="breadcrumb"> 
        <li><a th:href="@{/clientDetails.html}">OAuth2管理</a></li> 
        <li class="active">客户端管理</li> 
       </ol> 
      </div> 
     </div> 
     <div class="row">
        <div class="panel panel-info">
           <div class="panel-heading" th:text="${param.containsKey('edit')?'编辑客户端':'增加客户端'}"/>
           <div class="panel-wrapper collapse in" aria-expanded="true">
              <div class="panel-body">
                  <form action="#">
		              <div class="form-body">
				                <div class="row">
				                  <div class="col-md-6">
				                    <div class="form-group">
				                      <label class="control-label">客户端Id</label>
				                      <input type="text" id="firstName" class="form-control" placeholder="客户端Id"/>
				                     </div>
				                  </div>
				                  <div class="col-md-6">
				                    <div class="form-group">
				                      <label class="control-label">客户端Secret</label>
				                      <input type="text" id="lastName" class="form-control" placeholder="客户端密码"/>
				                    </div>
				                  </div>
				                </div>
				                <div class="row">
				                  <div class="col-md-6">
				                    <div class="form-group">
				                      <label class="control-label">AccessToken有效秒数</label>
				                      <input type="text" id="firstName" class="form-control" placeholder="AccessToken有效秒数"/>
				                     </div>
				                  </div>
				                  <div class="col-md-6">
				                    <div class="form-group">
				                      <label class="control-label">RefreshToken有效秒数</label>
				                      <input type="text" id="lastName" class="form-control" placeholder="RefreshToken有效秒数"/>
				                    </div>
				                  </div>
				                </div>
				                <div class="row">
				                  <div class="col-md-12">
				                    <div class="form-group">
				                      <label class="control-label">授权方式</label>
				                      <select class="form-control" data-placeholder="授权方式" tabindex="1">
				                        <option value="Category 1">Category 1</option>
				                        <option value="Category 2">Category 2</option>
				                        <option value="Category 3">Category 5</option>
				                        <option value="Category 4">Category 4</option>
				                      </select>
				                    </div>
				                  </div>
				                </div>
				                <div class="row">
				                  <div class="col-md-6">
				                    <div class="form-group">
				                      <label class="control-label">授权范围</label>
				                      <select class="form-control" data-placeholder="授权范围" tabindex="1">
				                        <option value="Category 1">Category 1</option>
				                        <option value="Category 2">Category 2</option>
				                        <option value="Category 3">Category 5</option>
				                        <option value="Category 4">Category 4</option>
				                      </select>
				                    </div>
				                  </div>
				                  <div class="col-md-6">
				                    <div class="form-group">
				                      <label class="control-label">自动授权范围</label>
				                      <select class="form-control" data-placeholder="自动授权范围" tabindex="1">
				                        <option value="Category 1">Category 1</option>
				                        <option value="Category 2">Category 2</option>
				                        <option value="Category 3">Category 5</option>
				                        <option value="Category 4">Category 4</option>
				                      </select>
				                    </div>
				                  </div>
				                </div>
				                <div class="row">
				                  <div class="col-md-12">
				                      <div class="form-group">
			                          <label class="control-label col-md-3">全范围自动授权</label>
				                          <div class="col-md-9">
						                      <div class="radio-list">
						                          <label class="radio-inline">
						                              <input type="radio" name="optionsRadios2" value="option1"/>
						                              Free 
						                          </label>
						                          <label class="radio-inline">
						                              <input type="radio" name="optionsRadios2" value="option2" checked=""/>
						                              Professional 
						                          </label>
						                      </div>
				                          </div>
			                          </div>
				                   </div>
				                 </div>
				                 <div class="row">
				                  <div class="col-md-6">
				                    <div class="form-group">
				                       &nbsp;
				                     </div>
				                  </div>
				                 </div>
				                 <div class="row">
				                   <div class="col-md-12">
				                     <div class="form-group">
					                 <label class="col-md-12">可用资源Id</label>
					                 <div class="col-md-12">
					                  <textarea class="form-control" rows="5"></textarea>
					                 </div>
					               </div>
				                  </div>
				                 </div>
				                 <div class="row">
				                   <div class="col-md-12">
				                     <div class="form-group">
					                 <label class="col-md-12">注册跳转URL</label>
					                 <div class="col-md-12">
					                  <textarea class="form-control" rows="5"></textarea>
					                 </div>
					               </div>
				                  </div>
				               </div>
				               <div class="row">
				                   <div class="col-md-12">
				                      &nbsp;
					               </div>
				               </div>
		               </div>
		               <div class="form-actions">
			                <div class="row">
			                  <div class="col-md-12">
			                    <div class="row">
			                      <div class="col-md-offset-5 col-md-9">
			                        <button type="submit" class="btn btn-success">Submit</button>
			                        <button type="button" class="btn btn-default">Cancel</button>
			                      </div>
			                    </div>
			                  </div>
			                </div>
                       </div>
                  </form>
              </div>
            </div>
          </div>  
        </div>
     </div> 
     <footer class="main-footer" th:replace="template :: main-footer"/>
     </div> 
  </div> 
 <th:block th:replace="template :: required-js-scripts">
 </th:block>
 </body>
</html>