<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>管理后台</title>

<link rel="shortcut icon" href="/favicon.ico">

<link href="/css/bootstrap.min.css" rel="stylesheet">
<link href="/font-awesome/css/font-awesome.css" rel="stylesheet">
<link href="/css/animate.css" rel="stylesheet">
<link href="/css/plugins/sweetalert/sweetalert.css" rel="stylesheet">
<link href="/css/plugins/switchery/switchery.css" rel="stylesheet">
<!-- FooTable -->
<link href="/css/plugins/footable/footable.core.css" rel="stylesheet">
<link href="/css/plugins/iCheck/custom.css" rel="stylesheet">

<link href="/css/style.min.css" rel="stylesheet">
<link href="/css/custom.css" rel="stylesheet">
<link href="/css/jsonFormater.css" rel="stylesheet">
<link href="/css/plugins/select/bootstrap-select.min.css" rel="stylesheet">

<script src="/js/jquery-2.1.1.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/date-util.js"></script>
<script src="/js/jsonFormater.js"></script>
<link href="/js/plugins/jqueryui/jquery-ui-1.10.3.custom.css" rel="stylesheet">
<script src="/js/plugins/jqueryui/jquery-ui-1.10.3.custom.min.js"></script>

<script src="/js/plugins/fileinput/js/fileinput.js"></script>
<link href="/js/plugins/fileinput/css/fileinput.css" rel="stylesheet">