<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.quancheng.saluki.monitor.mapper.SalukiInvokeMapper">


	<sql id="allNoAsOfInvoke">
		  id, 
		  invoke_date,
		  service,
		  method,  
		  consumer,
		  provider,
		  type,
		  success,
		  failure,
		  elapsed,
		  concurrent, 
		  maxInput,
		  maxOutput, 
		  maxElapsed, 
		  maxConcurrent, 
		  input,
		  output, 
		  tps,
		  kbps
	</sql>

	<insert id="addInvoke" parameterType="com.quancheng.saluki.monitor.domain.SalukiInvokeStatistics">
		insert into
		saluki_invoke_statistics (
		<include refid="allNoAsOfInvoke" />
		)
		values(
		  #{id}, 
		  #{invoke_date},
		  #{service},
		  #{method},  
		  #{consumer},
		  #{provider},
		  #{type},
		  #{success},
		  #{failure},
		  #{elapsed},  
		  #{concurrent}, 
		  #{maxInput},
		  #{maxOutput}, 
		  #{maxElapsed}, 
		  #{maxConcurrent}, 
		  #{input},
		  #{output}, 
		  #{tps},
		  #{kbps}
		)
	</insert>

	<select id="queryDataByService" parameterType="java.lang.String"
		resultType="com.quancheng.saluki.monitor.domain.SalukiInvokeStatistics">
		SELECT * 
		FROM saluki_invoke_statistics
		WHERE
		1 = 1
        <if test ="service != null">
        AND  service=#{service}
        </if>
		ORDER BY invoke_date DESC
	</select>

	<delete id="truncateTable">
		truncate table saluki_invoke
	</delete>
</mapper>