<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.quancheng.saluki.monitor.mapper.SalukiInvokeMapper">


	<sql id="allNoAsOfInvoke">
		id,
		invokeDate,
		invokeTime,
		service,
		method,
		consumer,
		provider,
		type,
		success,
		failure,
		elapsed,
		concurrent,
		maxInput,
		maxOutput,
		maxElapsed,
		maxConcurrent,
		input,
		output
	</sql>

	<insert id="addInvoke" parameterType="com.quancheng.saluki.monitor.SalukiInvoke">
		insert into
		saluki_invoke (
		<include refid="allNoAsOfInvoke" />
		)
		values(
		#{id},
		#{invokeDate},
		#{invokeTime},
		#{service},
		#{method},
		#{consumer},
		#{provider},
		#{type},
		#{success},
		#{failure},
		#{elapsed},
		#{concurrent},
		#{maxInput},
		#{maxOutput},
		#{maxElapsed},
		#{maxConcurrent},
		#{input},
		#{output}
		)
	</insert>

	<select id="queryStatistics" parameterType="java.util.Map"
		resultType="com.quancheng.saluki.monitor.SalukiInvokeStatistics">
		SELECT
		invokeTime/1000 as invokeTime,
		SUM(concurrent) as sumconcurrent,
		SUM(elapsed) as sumelapsed,
		SUM(success) as sumsuccess,
		SUM(failure) as sumfailure,
		SUM(input) as suminput
		FROM
		saluki_invoke
		WHERE
		1 = 1
		<if test="service != null">
			AND service=#{service}
		</if>
		<if test="type != null">
			AND type=#{type}
		</if>
		GROUP BY invokeTime/1000
	</select>

	<select id="queryData" parameterType="java.util.Map"
		resultType="com.quancheng.saluki.monitor.SalukiInvoke">
		SELECT *
		FROM saluki_invoke
		WHERE
		1 = 1
		<if test="service != null">
			AND service=#{service}
		</if>
		<if test="type != null">
			AND type=#{type}
		</if>
		ORDER BY invokeDate DESC
	</select>

	<delete id="truncateTable">
		truncate table saluki_invoke
	</delete>
</mapper>