<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.quancheng.saluki.monitor.mapper.SalukiInvokeMapper">


	<sql id="allNoAsOfInvoke">
		id,
		invokeDate,
		invokeTime,
		service,
		method,
		consumer,
		provider,
		type,
		success,
		failure,
		elapsed,
		concurrent,
		maxInput,
		maxOutput,
		maxElapsed,
		maxConcurrent,
		input,
		output,
		tps,
		kbps
	</sql>

	<insert id="addInvoke" parameterType="com.quancheng.saluki.monitor.SalukiInvoke">
		insert into
		saluki_invoke (
		<include refid="allNoAsOfInvoke" />
		)
		values(
		#{id},
		#{invokeDate},
		#{invokeTime},
		#{service},
		#{method},
		#{consumer},
		#{provider},
		#{type},
		#{success},
		#{failure},
		#{elapsed},
		#{concurrent},
		#{maxInput},
		#{maxOutput},
		#{maxElapsed},
		#{maxConcurrent},
		#{input},
		#{output},
		#{tps},
		#{kbps}
		)
	</insert>

	<select id="queryData" resultType="com.quancheng.saluki.monitor.SalukiInvoke">
		SELECT *
		FROM saluki_invoke
	</select>

	<delete id="truncateTable">
		truncate table saluki_invoke
	</delete>
</mapper>