<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.quancheng.saluki.monitor.repository.InvokeMapper">

	<insert id="addInvoke" parameterType="java.util.List">
		insert into saluki_invoke (
		id,
		invokeDate,
		application,
		service,
		method,
		consumer,
		provider,
		type,
		success,
		failure,
		elapsed,
		concurrent,
		maxInput,
		maxOutput,
		maxElapsed,
		maxConcurrent,
		input,
		output
		)
		values
		<foreach collection="list" item="data" separator="," index="index">
			(
			#{data.id},
			#{data.invokeDate},
			#{data.application},
			#{data.service},
			#{data.method},
			#{data.consumer},
			#{data.provider},
			#{data.type},
			#{data.success},
			#{data.failure},
			#{data.elapsed},
			#{data.concurrent},
			#{data.maxInput},
			#{data.maxOutput},
			#{data.maxElapsed},
			#{data.maxConcurrent},
			#{data.input},
			#{data.output}
			)
		</foreach>
	</insert>

	<select id="queryData" parameterType="java.util.Map"
		resultType="com.quancheng.saluki.domain.GrpcnvokeStatistics">
		SELECT
		<choose>
			<when test="interval =='day'">
				date_format(invokeDate,'%Y-%m-%d') as invokeDate,
			</when>
			<otherwise>
				date_format(invokeDate,'%Y-%m-%d %H:00:00') as invokeDate,
			</otherwise>
		</choose>
		sum(concurrent) as sumConcurrent,
		sum(success) as sumSuccess,
		sum(failure) as sumFailure,
		sum(input) as sumInput,
		sum(output) as sumOutput,
		sum(elapsed) as sumElapsed,
		max(maxInput) as maxInput,
		max(maxOutput) as maxOutput,
		max(maxElapsed) as maxElapsed,
		max(maxConcurrent) as maxConcurrent
		FROM saluki_invoke
		WHERE
		1 = 1
		<if test="service != null">
			AND service=#{service}
		</if>
		<if test="type != null">
			AND type=#{type}
		</if>
		<if test="type == 'consumer' and ip !=null">
			AND consumer=#{ip}
		</if>
		<if test="type == 'provider' and ip !=null">
			AND provider=#{ip}
		</if>
		<if test="invokeDateFrom != null">
			AND invokeDate &gt;=
			DATE_FORMAT(#{invokeDateFrom},'%Y-%m-%d %H:%i:%s')
		</if>
		<if test="invokeDateTo != null">
			AND invokeDate &lt;= DATE_FORMAT(#{invokeDateTo},'%Y-%m-%d
			%H:%i:%s')
		</if>
		<choose>
			<when test="interval =='day'">
				group by date_format(invokeDate,"%Y-%m-%d")
			</when>
			<otherwise>
				group by date_format(invokeDate,"%Y-%m-%d %H")
			</otherwise>
		</choose>
		ORDER BY invokeDate ASC
	</select>


	<select id="queryConsumer" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT
		sum(success)+sum(failure) as callCount,
		application,
		provider,
		service 
	    FROM
		saluki_invoke 
		where type='consumer' 
		group by application,service
	</select>
	
	<select id="queryProvider" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT * from saluki_invoke 
		where 
		type='provider'
		and service=#{service}
		group by application;
	</select>
	


</mapper>