<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="template :: head">
</head>
<body>
<!-- Preloader -->
<div class="preloader">
  <div class="cssload-speeding-wheel"></div>
</div>
<section id="wrapper" class="login-register">
  <div class="login-box">
    <div class="white-box">
      <form id="confirmationForm" name="confirmationForm" th:action="@{/oauth/authorize}" method="post">
        <h3 class="box-title m-b-20">程序想要请您授权以下内容：</h3>
        <input name="user_oauth_approval" value="true" type="hidden" />
        <div class="form-group " th:each="scope: ${scopes}">
            <span th:text="${scope.key}"/>
            <span class="pull-right">
            <label>
                <input type="radio" th:name="${scope.key}" value="true" th:checked="${scope.value}" class="flat-green"/> <i class="fa fa-unlock"></i> 许可
            </label>
            <label>
                <input type="radio" th:name="${scope.key}" value="false" th:checked="${!scope.value}" class="flat-red"/> <i class="fa fa-lock"></i> 拒绝
            </label>
            </span>
        </div>
        <div class="form-group text-center m-t-20">
          <div class="col-xs-12">
            <button class="btn btn-info btn-lg btn-block text-uppercase waves-effect waves-light" type="submit">确认并授权</button>
          </div>
        </div>
        <div class="row"></div>
      </form>
    </div>
  </div>
</section>
<th:block th:replace="template :: required-js-scripts">
</th:block>
</body>
</html>
